.body {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.inputbody {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: #ddd;
  font-size: 20px;
  font-weight: bold;
}

.inputTitle {
  display: flex;
}

.title {
  margin-right: 20px;
}

.deletebtn {
  border: 3px solid rgb(230, 54, 54);
  border-radius: 10px;
  background-color: transparent;
  padding: 4px 4px 4px 4px;
  margin-right: 10px;
  justify-content: center;
  text-align: center;
  display: flex;
  font-weight: bold;
  font-size: 18px;
}

.addbtn {
  background-color: transparent;
  border-radius: 10px;
  padding: 4px 4px 4px 4px;
}

.addbtn>:hover {
  cursor: pointer;
}